@import "../../../styles/variables.scss";
// @import "../../styles/_typography";


.headerContent {
  position: relative;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  align-items: center;
  background-color: white;
  //outline: auto;
  margin-top: 40px;
}

.iconContent {
  margin-right: auto;
}

.icon {
  width: 80px;
  height: 80px;
}


// .headerButtons:hover {
//   transform: scaleX(1.1) scaleY(1.1);
// }

.searchBarContent {
  display: flex;
  align-items: center;
  margin-right: 100px;
}

.iconsContent {
  display: flex;
  transform: translateX(-50%);
  gap: 20px;
}

.iconButton {
  cursor: pointer;
}
