// @import "../../styles/_variables";
// @import "../../styles/_typography";

.headerContent {
  position: relative;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  align-items: center;
  background-color: white;
  outline: auto;
  margin-top: 40px;
}

.iconContent {
  margin-right: auto;
}

.buttonContent {
  position: absolute;
  width: calc(100% + 6rem);
  display: flex;
  left: 50%;
  transform: translateX(-50%);
  justify-content: center;
  height: 100%;
}

.icon {
  width: 80px;
  height: 80px;
}

.headerButtons {
  padding: 15px 20px;
  border: none;
  cursor: pointer;
  font-size: 18px;
  margin: 10px;
  font-weight: bold;
  background-color: white;
  color:black;
  transition: color 0.5s, border-bottom;
}


.headerButtons:hover {
    border-bottom: 2px solid black;
    color: black;
  }
  
  
  .buttonContent:hover .headerButtons:not(:hover) {
    color: gray;
  }

// .headerButtons:hover {
//   transform: scaleX(1.1) scaleY(1.1);
// }

.searchBarContent {
  display: flex;
  align-items: center;
  margin-right: 100px;
}

.iconsContent {
  display: flex;
  transform: translateX(-50%);
  gap: 20px;
}

.iconButton {
  cursor: pointer;
}
