@import "../styles/variables.scss";


html, body {
  //height: 100%;
  background-color: white;
  scroll-behavior: smooth;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
 // position: relative;
  overflow-x: hidden;
  
}

// * {
//   outline: 1px solid red; /* Helps you visualize overflowing elements */
// } 