

.successPageContainer {

    display:flex;
    flex-direction: column;
    justify-content: center;
}

.cartImageSection {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.successMessageSection {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.orderDetailsSection {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}