@import "../../styles/variables.scss";

.productSection {

    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px,1fr));
    gap: 20px;
    width: 100%;
    padding:20px;
  
}

.productCard {

  //background-color: #f9f9f9;
  border-radius: 8px;
  padding: 20px;
  text-align: center;
  cursor: pointer;
}

.productImage {

  height:350px;
}

.productName {

  font-family: $primaryfont;
}

.productPrice {

  font-family: $secondfont;
  font-weight: bold;
}